
    <!-- Navbar part begin -->
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a  class="navbar-brand" href="JavaScript:Void(0)" 
          (click)="navigateToRoute('dashboard')"
          style="margin-right: 5px">
          <!-- <img src="../../favicon.png" width="30" height="30" alt=""> -->
          Lightning PI</a>          
        <span class="music-switch" (click)="changeSwitchType()" *ngIf="switchType === 'music'">( music )</span>
        <span class="movie-switch" (click)="changeSwitchType()" *ngIf="switchType === 'movie'">( movie )</span>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto" style="padding-left: 20px">
              <li class="nav-item active">
                  <a  *ngIf="switchType === 'music'"
                      (click)="navigateToRoute('music')"
                      class="nav-link btn btn-outline-warning" style="width: 96px" id="addTrackButton" href="Javascript:void(0)">
                    Add Track</a>
                  <a  *ngIf="switchType === 'movie'"
                      (click)="navigateToRoute('movie')"
                      class="nav-link btn btn-outline-info" style="width: 96px" id="addMovieButton" href="Javascript:void(0)">
                    Add Movie</a>
                  <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                    Launch demo modal
                  </button> -->
              </li>
          </ul>
          <form class="form-inline my-2 my-lg-0 navbar-search" style="padding-left: 16px;">
              <input  class="form-control mr-sm-2"
                      [(ngModel)]="searchKey"
                      name="searchKey"
                      [ngClass]="{'music':'musicInput','movie':'movieInput'}[switchType]"
                      type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-navbar-search-outline my-2 my-sm-0" 
                      [ngClass]="{'music':'musicBtnOutline','movie':'movieBtnOutline'}[switchType]"
                      (click)="setSearchKey()"
                      type="submit">
                  <i class="fa fa-search" aria-hidden="true"></i>
              </button>
          </form>
      </div>
  </nav>
  <!-- Navbar part end -->

  <!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>