<div class="container" style="padding-top: 5em;margin-bottom: 15em;">
  <form>
      <div class="form-row">
          <div class="col-md-4">
            <input 
              type="text" 
              [(ngModel)]="searchAPI"
              [ngModelOptions]="{standalone: true}"
              class="form-control" 
              id="searchTrackAPI" 
              placeholder="Search Track Online" 
              value="">
          </div>    
          <div class="col-md-4">
            <button class="btn btn-primary" type="submit" (click)="searchTrackDB()">Search</button>
          </div>
      </div>

      <div class="list-group list-track-suggestions" >
        <button 
          type="button" 
          *ngFor="let data of trackSuggestions; index as i" 
          (dblclick)="autoFillForm(i)"
          class="list-group-item list-group-item-action">
          <img src="{{data['artworkUrl100']}}" alt="Smiley face" height="42" width="42">
            {{data['trackName']}} <strong>|</strong> {{data['artistName']}} <strong>|</strong> {{data['releaseDate'] | date:'medium'}}
        </button>
      </div>
  </form>
  
  <hr style="background: #ffffff;">
  <form [formGroup]="trackForm">
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="track_name">Track Name</label>
        <input 
        type="text" 
        class="form-control" 
        id="track_name" 
        formControlName="track_name"
        placeholder="Enter Track Name">
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="track_image">Track Image</label>
        <input 
        type="text" 
        class="form-control" 
        id="track_image" 
        formControlName="track_image"
        placeholder="Enter Track Image">
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="track_tags">Track Tags</label>
        <input 
        type="text" 
        class="form-control" 
        id="track_tags" 
        formControlName="track_tags"
        placeholder="Enter Track Tags">
      </div>
    </div>
    <div class="form-group">
      <label for="track_file">Track File</label>
      <input type="file"
        (change)="uploadFile($event)" 
        style="color: #ffffff;"
        class="form-control-file" 
        id="track_file">
    </div>
    <div class="progress form-group" *ngIf="progress > 0">
        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width.%]="progress">
        </div>
    </div>
    <div class="form-group">
      <label for="track_description">Track Description</label>
      <textarea 
        class="form-control" 
        placeholder="Enter Track Description"
        formControlName="track_description"
        id="track_description" rows="3"></textarea>
    </div>
    <div class="form-row">
      <div class="col-md">
        <div class="row">
          <div class="col" style="text-align: center;">
            <button 
                class="btn btn-danger" 
                style="width: 100%;" 
                (click)="resetForm()"
                type="button">Reset</button>
          </div>
          <div class="col" style="text-align: center;">
            <button 
              class="btn btn-primary" 
              style="width: 100%;" 
              (click)="submitForm()"
              [disabled]="trackForm.invalid"
              type="submit">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>