
<div class="fixed-bottom">
  <div class="container-details">
      henlo there

  </div>
  <div class="container-audio">
      <div class="track-title">Henlo <fa name="info-circle" size="lg"></fa></div>
        <audio controls  loop autoplay>
                    <source src="https://audio-ssl.itunes.apple.com/itunes-assets/AudioPreview118/v4/bd/1d/3d/bd1d3dc6-b1ce-d10a-1c67-b6dd36658503/mzaf_8632015012462614651.plus.aac.p.m4a" type="audio/ogg">
                    Your browser dose not Support the audio Tag
        </audio>
    </div>
</div>

