
<!-- Category views -->
<!-- <div class="container">
  <div class="row">
    <div class="col-sm">
      Latest
    </div>
    <div class="col-sm">
      Pop
    </div>
    <div class="col-sm">
      Rock
    </div>
  </div>
</div> -->


   <!-- Dashboard part begin -->
   <div class="container" id="continueWatching">
      <div class="row">
          <div class="col-lg-2">
              <div class="cwSubComponent">
                  <div class="cwImage">
                      <img src="https://images.unsplash.com/photo-1560713796-952b738c598b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=282&q=80"
                          alt="">
                      <div class="cwImagePlayer">
                          <div>
                              <fa name="play-circle" size="3x" inverse="true"></fa>
                          </div>
                      </div>
                  </div>
                  <div class="cwDescription">
                      <div class="container">
                          <div class="row">
                              <div class="col-sm-12 cwDescriptionContainer">
                                  <div class="infoIcon">
                                      <fa name="info-circle" size="lg" inverse="true"></fa>
                                  </div>
                                  <span class="movieTitle">
                                      Tron Legacy and the mop
                                  </span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-2">
              <div class="cwSubComponent">
                  <div class="cwImage">
                      <img src="https://images.unsplash.com/photo-1560713796-952b738c598b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=282&q=80"
                          alt="">
                      <div class="cwImagePlayer">
                          <div>
                              <fa name="play-circle" size="3x" inverse="true"></fa>
                          </div>
                      </div>
                  </div>
                  <div class="cwDescription">
                      <div class="container">
                          <div class="row">
                              <div class="col-sm-12 cwDescriptionContainer">
                                  <div class="infoIcon">
                                      <fa name="info-circle" size="lg" inverse="true"></fa>
                                  </div>
                                  <span class="movieTitle">
                                      Tron Legacy and the mop
                                  </span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-2">
              <div class="cwSubComponent">
                  <div class="cwImage">
                      <img src="https://images.unsplash.com/photo-1560713796-952b738c598b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=282&q=80"
                          alt="">
                      <div class="cwImagePlayer">
                          <div>
                              <fa name="play-circle" size="3x" inverse="true"></fa>
                          </div>
                      </div>
                  </div>
                  <div class="cwDescription">
                      <div class="container">
                          <div class="row">
                              <div class="col-sm-12 cwDescriptionContainer">
                                  <div class="infoIcon">
                                      <fa name="info-circle" size="lg" inverse="true"></fa>
                                  </div>
                                  <span class="movieTitle">
                                      Tron Legacy and the mop
                                  </span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Dashboard Part End -->