
<!-- Category views -->
<!-- <div class="container">
  <div class="row">
    <div class="col-sm">
      Latest
    </div>
    <div class="col-sm">
      Pop
    </div>
    <div class="col-sm">
      Rock
    </div>
  </div>
</div> -->


   <!-- Dashboard part begin -->
   <div class="container" id="continueWatching">
      <div class="row">
          <div class="col-lg-2" *ngFor="let data of cardsData">
              <div  class="cwSubComponent" 
                    [ngClass]="{'music':'cwSubComponentMusic','movie':'cwSubComponentMovie'}[switchType]">
                  <div class="cwImage">
                      <img [src]="baseUrl + data[mappingObject[switchType].image]"
                          alt="">
                      <div class="cwImagePlayer">
                          <div>
                              <fa (click)="playMedia(data[mappingObject[switchType].id])" name="play-circle" size="3x" inverse="true"></fa>
                          </div>
                      </div>
                  </div>
                  <div class="cwDescription">
                      <div class="container">
                          <div class="row">
                              <div class="col-sm-12 cwDescriptionContainer">
                                  <div class="infoIcon">
                                      <fa (click)="fetchDetails(data[mappingObject[switchType].id])" 
                                            data-toggle="modal" data-target="#showDetailsModel"
                                            name="info-circle" size="lg" inverse="true"></fa>
                                  </div>
                                  <span class="movieTitle">
                                      {{data[mappingObject[switchType].name]}}
                                  </span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Dashboard Part End -->

  <!-- Modal -->
  <div  class="modal fade" id="showDetailsModel" tabindex="-1" role="dialog"
        *ngIf = "(detailsObject | json) != '{}'"
        aria-labelledby="showDetailsModel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalTitle">{{detailsObject[mappingObject[switchType].name] | uppercase}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
              <div class="row">
                  <div class="col-lg-4">
                        <img [src]="baseUrl + detailsObject[mappingObject[switchType].image]"
                            alt=""
                            style="height: 150px; width:125px; box-shadow: 5px 5px rgba(0,0,0,0.5)">
                  </div>
                  <div class="col-lg-8">
                      <p>{{detailsObject[mappingObject[switchType].desc]}}</p><br>
                      <strong>Tags&nbsp;:&nbsp;</strong>{{detailsObject[mappingObject[switchType].tags]?detailsObject[mappingObject[switchType].tags].toString():''}}<br>
                      <strong>Created at&nbsp;:&nbsp;</strong>{{detailsObject[mappingObject[switchType].created_at].type | date:'medium'}}<br>
                      <div style="padding-top: 10px">
                        <button 
                        data-toggle="modal" data-target="#showDetailsModel"
                        (click)="deleteMedia(detailsObject[mappingObject[switchType].id], detailsObject[mappingObject[switchType].name])"
                        type="button" class="btn btn-outline-danger btn-block">Delete</button>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Model End -->